<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Volunteers | NonProfit Charity Theme</title>
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon//apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicon//android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon//favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <div class="preloader"></div><!-- /.preloader -->
    <div class="page-wrapper">

    	<header class="site-header header-one header-one__home-two">
            <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
                <div class="container clearfix">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="logo-box clearfix">
                        <a class="navbar-brand" href="index.html">
                            <img src="images/logo-2-1.png" class="main-logo" alt="Awesome Image" />
                        </a>
                        <button class="menu-toggler" data-target=".header-one .main-navigation">
                            <span class="fa fa-bars"></span>
                        </button>
                    </div><!-- /.logo-box -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="main-navigation">
                        <ul class=" navigation-box one-page-scroll-menu ">
                            <li class="current scrollToLink">
                                <a href="#home">Home</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#services">Features</a>
                            </li>
                            <li class="scrollToLink">
                                <a href="#Volunteers">Volunteers</a>
                                
                            </li>
                            <li class="scrollToLink">
                                <a href="#Causes">Causes</a>
                                
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    <div class="right-side-box">
                        <a href="#" class="header-one__btn">Contact</a>
                    </div><!-- /.right-side-box -->
                </div>
                <!-- /.container -->
            </nav>
        </header><!-- /.header-one -->
        <section class="banner-one banner-one__home-two" id="home">
        	<img src="images/banner-moc-1.png" class="banner-one__moc" alt="Awesome Image"/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-one__content">
                            <div class="block-title">
                                <div class="block-title__text"><span>You Can Help <br> The Poor with Volunteers</span></div><!-- /.block-title__text -->
                            </div><!-- /.block-title -->
                            <p class="banner-one__text">Excepteur sint occaecat cupidatat non proident sunt in <br> culpa qui officia deserunt mollit lorem ipsum anim id est <br> laborum perspiciatis unde.</p><!-- /.banner-one__text -->
                            <a href="#" class="banner-one__btn">Get Started</a>
                        </div><!-- /.banner-one__content -->
                    </div><!-- /.col-lg-5 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.banner-one -->
        <section class="service-one" id="services">
            <div class="container">
                <div class="block-title text-center">
                    <div class="block-title__text"><span>We’re On A Mission To Solve The Problems</span></div><!-- /.block-title__text -->
                </div><!-- /.block-title -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="service-one__single"> 
                            <h3 class="service-one__title"><a href="#">Pure Water</a></h3><!-- /.service-one__title -->
                            <p class="service-one__text">Lorem ipsum is are <br> many variations of <br> pass of majority.</p><!-- /.service-one__text -->
                            <a href="#" class="service-one__link"><i class="nonid-icon-left-arrow"></i></a>
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-3 -->
                     <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="service-one__single"> 
                            <h3 class="service-one__title"><a href="#">Healthy Food</a></h3><!-- /.service-one__title -->
                            <p class="service-one__text">Lorem ipsum is are <br> many variations of <br> pass of majority.</p><!-- /.service-one__text -->
                            <a href="#" class="service-one__link"><i class="nonid-icon-left-arrow"></i></a>
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-3 -->
                     <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="service-one__single"> 
                            <h3 class="service-one__title"><a href="#">Medical</a></h3><!-- /.service-one__title -->
                            <p class="service-one__text">Lorem ipsum is are <br> many variations of <br> pass of majority.</p><!-- /.service-one__text -->
                            <a href="#" class="service-one__link"><i class="nonid-icon-left-arrow"></i></a>
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-3 -->
                     <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="service-one__single"> 
                            <h3 class="service-one__title"><a href="#">Education</a></h3><!-- /.service-one__title -->
                            <p class="service-one__text">Lorem ipsum is are <br> many variations of <br> pass of majority.</p><!-- /.service-one__text -->
                            <a href="#" class="service-one__link"><i class="nonid-icon-left-arrow"></i></a>
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-3 -->
                    
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.service-one -->
        <section class="cta-three" id="Volunteers">
            <img src="images/banner-icon-1-6.png" alt="Awesome Image" class="bubble-1" />
            <img src="images/banner-icon-1-4.png" alt="Awesome Image" class="bubble-2" />
            <img src="images/banner-icon-1-5.png" alt="Awesome Image" class="bubble-3" />
            <div class="container">
                <img src="images/cta-moc-1-1.png" alt="Awesome Image" class="cta-three__moc" />
                <div class="row no-gutters justify-content-end">
                    <div class="col-lg-6 col-md-12 col-sm-12 d-flex">
                        <div class="cta-three__content my-auto">
                            <div class="block-title">
                                <div class="block-title__text"><span>Our Volunteer</span></div><!-- /.block-title__text -->
                            </div><!-- /.block-title -->
                            <p class="cta-three__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p><!-- /.cta-three__text -->
                            <ul class="cta-three__list">
                                <li class="cta-three__list-item"><i class="fa fa-check"></i>Refresing to get such a personal touch. </li>
                                <li class="cta-three__list-item"><i class="fa fa-check"></i>Duis aute irure dolor in reprehenderit in voluptate.</li>
                                <li class="cta-three__list-item"><i class="fa fa-check"></i>Velit esse cillum dolore eu fugiat nulla pariatur.</li>
                            </ul><!-- /.cta-three__list -->
                            <a href="#" class="cta-three__btn">Learn More</a>
                        </div><!-- /.cta-three__content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.cta-three -->
       
        <section class="fun-fact-one" id="Causes">
            <img src="images/banner-icon-1-4.png" alt="Awesome Image" class="bubble-1" />
            <img src="images/banner-icon-1-2.png" alt="Awesome Image" class="bubble-2" />
            <img src="images/banner-icon-1-1.png" alt="Awesome Image" class="bubble-3" />
            <img src="images/banner-icon-1-6.png" alt="Awesome Image" class="bubble-4" />
            <div class="container">
                <div class="block-title text-center">
                    <div class="block-title__text"><span>Over 2200 Events</span> <br> <span>completed</span></div><!-- /.block-title__text -->
                </div><!-- /.block-title -->
                <div class="fun-fact-one__box-wrapper">
                    <div class="fun-fact-one__single">
                        <div class="inner-block">
                            <h3 class="fun-fact-one__title counter">
                                4789
                            </h3><!-- /.fun-fact-one__title -->
                            <p class="fun-fact-one__text">
                                Events
                            </p><!-- /.fun-fact-one__text -->
                        </div><!-- /.inner-block -->
                    </div><!-- /.fun-fact-one__single -->
                    <div class="fun-fact-one__single">
                        <div class="inner-block">
                            <h3 class="fun-fact-one__title counter">
                                6400
                            </h3><!-- /.fun-fact-one__title -->
                            <p class="fun-fact-one__text">
                                Volunteer
                            </p><!-- /.fun-fact-one__text -->
                        </div><!-- /.inner-block -->
                    </div><!-- /.fun-fact-one__single -->
                    <div class="fun-fact-one__single">
                        <div class="inner-block">
                            <h3 class="fun-fact-one__title counter">
                                960
                            </h3><!-- /.fun-fact-one__title -->
                            <p class="fun-fact-one__text">
                                Mission
                            </p><!-- /.fun-fact-one__text -->
                        </div><!-- /.inner-block -->
                    </div><!-- /.fun-fact-one__single -->
                    <div class="fun-fact-one__single">
                        <div class="inner-block">
                            <h3 class="fun-fact-one__title counter">
                                448
                            </h3><!-- /.fun-fact-one__title -->
                            <p class="fun-fact-one__text">
                                awards
                            </p><!-- /.fun-fact-one__text -->
                        </div><!-- /.inner-block -->
                    </div><!-- /.fun-fact-one__single -->
                </div><!-- /.fun-fact-one_box-wrapper -->
            </div><!-- /.container -->
        </section><!-- /.fun-fact-one -->
        <section class="blog-one" id="blog">
            <div class="container">
                <div class="block-title text-center">
                    <div class="block-title__text"><span>Check out our latest</span> <br> <span>Causes & Events</span></div><!-- /.block-title__text -->
                </div><!-- /.block-title -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="blog-one__single">
                            <div class="blog-one__single-inner-block">
                                <div class="blog-one__date">3020 USD Donate </div><!-- /.blog-one__date -->
                                <a href="blog-details.html" class="blog-one__author">By Causes</a>
                                <h3 class="blog-one__title"><a href="blog-details.html">Pre launch mobile app marketing pitfalls</a></h3>
                                <p class="blog-one__text">There are many variations of passages of but majority have in some by inject.</p>
                                <a href="blog-details.html" class="blog-one__link"><i class="nonid-icon-left-arrow"></i></a>
                            </div><!-- /.blog-one__single-inner-block -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="blog-one__single">
                            <div class="blog-one__single-inner-block">
                                <div class="blog-one__date">3020 USD Donate</div><!-- /.blog-one__date -->
                                <a href="blog-details.html" class="blog-one__author">By Causes</a>
                                <h3 class="blog-one__title"><a href="blog-details.html">Social currency high performance keywords</a></h3>
                                <p class="blog-one__text">There are many variations of passages of but majority have in some by inject.</p>
                                <a href="blog-details.html" class="blog-one__link"><i class="nonid-icon-left-arrow"></i></a>
                            </div><!-- /.blog-one__single-inner-block -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="blog-one__single">
                            <div class="blog-one__single-inner-block">
                                <div class="blog-one__date">3020 USD Donate</div><!-- /.blog-one__date -->
                                <a href="blog-details.html" class="blog-one__author">By layerdrops</a>
                                <h3 class="blog-one__title"><a href="blog-details.html">Causes these line items quarterly sales</a></h3>
                                <p class="blog-one__text">There are many variations of passages of but majority have in some by inject.</p>
                                <a href="blog-details.html" class="blog-one__link"><i class="nonid-icon-left-arrow"></i></a>
                            </div><!-- /.blog-one__single-inner-block -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-one -->
        <footer class="site-footer">
            <img src="images/banner-icon-1-1.png" alt="Awesome Image" class="bubble-1" />
            <img src="images/banner-icon-1-3.png" alt="Awesome Image" class="bubble-2" />
            <img src="images/banner-icon-1-2.png" alt="Awesome Image" class="bubble-3" />
            <img src="images/banner-icon-1-4.png" alt="Awesome Image" class="bubble-4" />
            <div class="site-footer__subscribe">
                <div class="container">
                    <div class="block-title text-center">
                        <div class="block-title__text"><span>donationa our Causes</span> <br> <span>to get new updates</span></div><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <form action="#" class="site-footer__subscribe-form">
                        <input type="text" name="email" placeholder="Donate With Paybal">
                        <button type="submit">Donate</button>
                    </form><!-- /.subscribe-form -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__subscribe -->
            <div class="site-footer__main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget footer-widget--about-widget">
                                <a href="index.html" class="footer-widget__footer-logo"><img src="images/logo-2-1.png" alt="Awesome Image" /></a>
                                <p>888 999 0000</p>
                                <p>needhelp@Volunteer.com</p>
                                <p>855 road, Volunteer street <br>
                                    new york 600</p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <h3 class="footer-widget__title">
                                    Explore
                                </h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__link-list">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Our Team</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">How It Works</a></li>
                                </ul><!-- /.footer-widget__link-list -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-2 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <h3 class="footer-widget__title">
                                    Services
                                </h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__link-list">
                                    <li><a href="#">Speed Optimization</a></li>
                                    <li><a href="#">Marketing Analysis</a></li>
                                    <li><a href="#">SEO and Backlinks</a></li>
                                    <li><a href="#">Content Marketing</a></li>
                                </ul><!-- /.footer-widget__link-list -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="footer-widget">
                                <h3 class="footer-widget__title">
                                    Links
                                </h3><!-- /.footer-widget__title -->
                                <ul class="footer-widget__link-list">
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Clients</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul><!-- /.footer-widget__link-list -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-2 -->
                        <div class="col-lg-2 col-md-6 col-sm-12 d-flex">
                            <div class="footer-widget my-auto">
                                <div class="social-block">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div><!-- /.social-block -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-2 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__main-footer -->
            <div class="site-footer__bottom-footer text-center">
                <div class="container">
                    <p>&copy; copyright 2020 by <a href="#">Volunteer.com</a></p>
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom-footer -->
        </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- /.scroll-to-top -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>